In [2]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
%matplotlib inline

In [59]:
from sklearn.datasets import fetch_openml
df = fetch_openml("titanic",version=1 , as_frame=True)["data"]

In [62]:
#### Simple Imputer

from sklearn.impute import SimpleImputer

In [71]:
def params(df):
  param = {}
  for col in df.columns[df.isnull().any()]:
    if df[col].dtype == "float64" or df[col].dtype == "int64" or df[col].dtype == "int32":
      strategy = "mean"
    else:
      strategy = "most_frequent"
    missing_values = df[col][df[col].isnull()].values[0]
    param[col] = {"missing_value"  : missing_values , "strategy" : strategy}
  return param

params(df)

{'age': {'missing_value': nan, 'strategy': 'mean'},
 'fare': {'missing_value': nan, 'strategy': 'mean'},
 'cabin': {'missing_value': nan, 'strategy': 'most_frequent'},
 'embarked': {'missing_value': nan, 'strategy': 'most_frequent'},
 'boat': {'missing_value': nan, 'strategy': 'most_frequent'},
 'body': {'missing_value': nan, 'strategy': 'mean'},
 'home.dest': {'missing_value': nan, 'strategy': 'most_frequent'}}

In [74]:
param = params(df)

for col , param in param.items():
  imp = SimpleImputer(missing_values=param["missing_value"],strategy=param["strategy"])
  df[col] = imp.fit_transform(df[[col]]).ravel()

In [75]:
df.isnull().sum()

pclass       0
name         0
sex          0
age          0
sibsp        0
parch        0
ticket       0
fare         0
cabin        0
embarked     0
boat         0
body         0
home.dest    0
dtype: int64